@import url('https://fonts.googleapis.com/css2?family=Bitcount+Prop+Single:wght@100..900&family=Noto+Sans+JP:wght@100..900&display=swap');

/*  General  */
:root {
  --mainFont: Noto Sans JP;
  --dottedFont: Bitcount Prop Single;

  --pinkColor: #F456FF;
  --lightPinkColor: #FFD9FF;
}

/*  Top Section  */
#top-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 25px;
  margin-bottom: 100px;
}

#left-side div {
  width: 45vw;
  align-items: left;
  text-align: left;
}
#left-side h2 {
  font-size: calc(20px + 3vw);
  font-weight: bold;
}
.access-button {
  width: 150px;
  height: 50px;
  color: white;
  background-color: var(--pinkColor);
  border: transparent;
  border-radius: 15px;
  font-weight: bold;
  box-shadow: 2px 3px var(--lightPinkColor);
}

#right-side {
  position: relative;
  height: 50vh;
  width: 40vw;
}
#right-side span {
  width: 40vw;
  height: 40vw;
  background-color: var(--lightPinkColor);
  border-radius: 50%;
  /*display: flex;*/
  position: absolute;
  top: 50%;
  left: 30%;
  transform: translate(-70%, -50%);
  box-shadow: 2px 3px var(--pinkColor);
}
#right-side img {
  width: 35vw;
  position: absolute;
  top: 50%;
  left: 30%;
  transform: translate(-70%, -50%) rotate(5deg);
}

/*  Middle Wrapper  */
#middle-wrapper {
  width: 100vw;
  text-align: center;
  margin-bottom: 100px;
}
#middle-wrapper h2 {
  font-family: var(--dottedFont);
  color: var(--pinkColor);
}
#middle-wrapper h3 {
  padding-left: 50px;
  padding-right: 50px;
}

/*  Bottom Wrapper  */
#bottom-wrapper {
  margin-bottom: 100px;
}
#bottom-wrapper h2 {
  text-align: center;
  font-family: var(--dottedFont);
  color: var(--pinkColor);
}

#plan-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  gap: 10vw;
}

.divider {
  width: 20vw;
  height: 3px;
  background-color: black;
}

/*  Footer  */
#footer {
  width: 100vw;
  text-align: center;
  margin-bottom: 20px;
}
#footer h4 {
  font-size: 12px;
}
#footer a {
  color: black;
  text-decoration: none;
}
