@import url('https://fonts.googleapis.com/css2?family=Bitcount+Prop+Single:wght@100..900&family=Noto+Sans+JP:wght@100..900&display=swap');

/*  General  */
:root {
   --mainFont: Noto Sans JP;
   --dottedFont: Bitcount Prop Single;

   --pinkColor: #F456FF;
   --lightPinkColor: #FFD9FF;
}

body {
	margin: 0;
	padding: 0;
}

/*  Landing Navigation  */
nav {
   width: 90vw;
   height: 75px;
   padding: 10px;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center; 
}
nav img {
   width: 50px;
   filter: hue-rotate(310deg);
}
nav button {
  width: 100px;
  height: 30px;
  color: white;
  background-color: var(--pinkColor);
  border: transparent;
  border-radius: 15px;
  font-weight: bold;
  box-shadow: 2px 3px var(--lightPinkColor);
}


/*  Menu Navigation  */
#menu-container {
	width: 300px;
	height: 100vh;

	background-color: black;
}
#top-section {
	background-color: yellow;
	width: 260px;
	height: 75px;
	padding-left: 20px;
	padding-right: 20px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}
#top-section img {
   width: 30px;
   filter: hue-rotate(310deg);
}
